{% extends "base.html" %}


{% block head %}
<title>Sales</title>
{% endblock %}


{% block body %}

<!--Show csv dada in table-->
<div class="table">
<div class="table">
  <h1>Overview of Sales Data</h1>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
</div>

<!--Results window-->

<div class = "results">
  <h1>Results</h1>
  <h1 id="result"></h1>  
</div> 

<!--Drowdown menu to select a request-->
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Pick a Question</button>
  <div id="myDropdown" class="dropdown-content">
      <a href="/minimum" id="min">Minimum Sales</a> 
      <a href="/maximum" id="max">Maximum Sales</a> 
      <a href="/average" id="average">Average sales</a> 
      <a href="/sales" id="sales_total">Total Sales</a> 
      <a href="/graph.png" id="graph.png">Graph Sales</a> 
  </div>
</div>



{% endblock %}  
